<app-header></app-header>

<div id="main-content">

	<!-- Header  -->

	<div class="main-content-header">
		<div>
			<a [routerLink]="['/newsletters']">
				<span>Newsletters</span>
			</a>
			<span class="mx-2">/</span>
			<span>{{ breadcrumbTitle }}</span>
		</div>
		<h1 class="main-content-title">{{ title }}</h1>
	</div>

	<!-- Form -->

	<form [formGroup]="form" *ngIf="form" autocomplete="false">
		<div class="container-fluid mb-3">
			<div class="block-content">
				<div class="row">
					<div class="form-group c_form_group mb-3 col-lg-6">
						<label>Plantilla newsletter *</label>
						<div class="input-group">
							<select class="form-control"
								formControlName="template_id"
								[ngClass]="{ 'invalid': errors('template_id') }"
								placeholder="Plantilla newsletter">
								<option *ngFor="let template of templates" value="{{ template.id }}">
									{{ template.name }}
								</option>
							</select>
						</div>
						<div class="form-errors">
							<div *ngIf="errors('template_id', 'required')">Requerido</div>
						</div>
						<a class="form-control-upper-right text-cyan small pointer"
							(click)="openTemplateModal()">
							<i class="fa fa-plus mr-2"></i>
							<span>Nueva plantilla</span>
						</a>
					</div>
				</div>

				<div class="row">
					<div class="form-group c_form_group mb-3 col-lg-4">
						<label>Asunto *</label>
						<div class="input-group">
							<input type="text" class="form-control"
								formControlName="subject"
								[ngClass]="{ 'invalid': errors('subject') }"
								placeholder="Asunto">
						</div>
						<div class="form-errors">
							<div *ngIf="errors('subject', 'required')">Requerido</div>
						</div>
					</div>

					<div class="form-group c_form_group mb-3 col-lg-4">
						<label>Remitente *</label>
						<div class="input-group">
							<input type="text" class="form-control"
								formControlName="sender"
								[ngClass]="{ 'invalid': errors('sender') }"
								placeholder="Remitente">
						</div>
						<div class="form-errors">
							<div *ngIf="errors('sender', 'required')">Requerido</div>
						</div>
					</div>

					<div class="form-group c_form_group mb-3 col-lg-4">
						<label>Email remitente *</label>
						<div class="input-group">
							<input type="text" class="form-control" email
								formControlName="email"
								[ngClass]="{ 'invalid': errors('email') }"
								placeholder="Email remitente">
						</div>
						<div class="form-errors">
							<div *ngIf="errors('email', 'email')">Tiene que tener formato de email</div>
							<div *ngIf="errors('email', 'required')">Requerido</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group c_form_group mb-3 col-lg-12">
						<label>Contenido *</label>
						<div class="input-group">
							<ckeditor [editor]="editor" [config]="ckOptions" class="w-100 text-black"
								formControlName="content">
							</ckeditor>
						</div>
						<div class="form-errors">
							<div *ngIf="errors('content', 'required')">Requerido</div>
						</div>
					</div>
				</div>

				<h6 class="form-title text-uppercase">Gestionar envío</h6>

				<div class="row">
					<div class="form-group c_form_group mb-3 col-lg-2">
						<div class="text-navy h-100 d-flex flex-row align-items-center">
							<i class="fa fa-stopwatch mr-2"></i>
							<label class="text-underline mb-0">Enviar más tarde</label>
						</div>
					</div>

					<div class="form-group c_form_group mb-3 col-lg-3">
						<label>Fecha *</label>
						<div class="input-group">
							<input type="date" class="form-control"
								formControlName="send_date"
								[ngClass]="{ 'invalid': errors('send_date') }"
								placeholder="Fecha">
						</div>
						<div class="form-errors">
							<div *ngIf="errors('send_date', 'required')">Requerido</div>
						</div>
					</div>

					<div class="form-group c_form_group mb-3 col-lg-3">
						<label>Hora *</label>
						<div class="input-group">
							<input type="time" class="form-control"
								formControlName="send_time"
								[ngClass]="{ 'invalid': errors('send_time') }"
								placeholder="Hora">
						</div>
						<div class="form-errors">
							<div *ngIf="errors('send_time', 'required')">Requerido</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group c_form_group mb-3 col-lg-6">
						<label>Filtrar usuarios - Intereses</label>
						<div class="input-group">
							<select class="form-control"
								formControlName="template_id"
								[ngClass]="{ 'invalid': errors('template_id') }"
								placeholder="Intereses">
							</select>
						</div>
					</div>

					<div class="form-group c_form_group mb-3 col-lg-6">
						<label>Filtrar usuarios - Ubicación</label>
						<div class="input-group">
							<select class="form-control"
								formControlName="template_id"
								[ngClass]="{ 'invalid': errors('template_id') }"
								placeholder="Ubicación">
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mb-3">
			<div class="block-content">
				<h6 class="text-black mb-3">Subastas en la Newsletter</h6>

				<div class="table-responsive mb-3">
					<table id="newsletter-subastas" class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
						<thead></thead>
						<tbody></tbody>
					</table>
				</div>

				<div class="form-errors mb-3">
					<div *ngIf="errors('auctions', 'min_length_array')">Requerido</div>
				</div>

				<a class="pointer text-gray" (click)="openAuctionModal()">
					<i class="fa fa-plus text-cyan mr-2"></i>
					<span>Añadir subasta...</span>
				</a>
			</div>
		</div>
	</form>

	<div *ngIf="newsletter?.status_id != newsletterStatus.SENT" class="row">
		<div class="col-lg-12 d-flex flex-row justify-content-end align-items-center">
			<button type="button" class="btn btn-submit btn-rounded btn-border-cyan mr-3"
				[routerLink]="['/users']">Cancelar</button>
			<button type="button" class="btn btn-submit btn-rounded btn-cyan"
				(click)="saveNewsletter()">Guardar</button>
		</div>
	</div>

	<div *ngIf="newsletter?.status_id == newsletterStatus.SENT" class="row">
		<div class="col-lg-12 d-flex flex-row justify-content-end align-items-center">
			<a class="text-gray pointer mr-3"
				(click)="saveNewsletter('2')">
				<i class="fa fa-file mr-2"></i>
				<span>Cambiar a borrador</span>
			</a>
			<button type="button" class="btn btn-submit btn-rounded btn-border-cyan mr-3"
				[routerLink]="['/users']">Cancelar</button>
			<button type="button" class="btn btn-submit btn-rounded btn-cyan"
				(click)="saveNewsletter()">Guardar</button>
		</div>
	</div>
</div>

<!-- Newsletter template modal -->

<ng-template #templateModal>
	<app-newsletter-template-edit
		[newsletterTemplateId]="newsletterTemplateId"
		(close)="modalRef.hide()"
		(success)="modalRef.hide();getNewsletterTemplates()">
	</app-newsletter-template-edit>
</ng-template>

<!-- Newsletter auctions modal -->

<ng-template #auctionModal>
	<app-newsletter-auctions
		[selected]="auctionsArray.value"
		(close)="modalRef.hide()"
		(success)="modalRef.hide();addAuction($event)">
	</app-newsletter-auctions>
</ng-template>
