
::ng-deep.sticky-note {
	z-index: 13!important;
}

.notifications-button {
	padding-right: 1rem;
	border-right: 1px solid var(--color-asemar-formgray);
	margin-right: 1.5rem;

	a {
		font-size: 1.2rem;
	}

	.notifications-button-badge {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: .5rem;
		min-width: 1rem;
		height: 1rem;
		color: var(--color-asemar-white);
		font-size: 0.7rem;
		padding-right: .125rem;
		padding-left: .125rem;
		background-color: var(--color-asemar-red);
		border-radius: 30px;
		pointer-events: none;
	}
}

.notifications-menu-backdrop {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: var(--color-asemar-black-50);
	opacity: 0;
	z-index: 14;
	pointer-events: none;
	transition: opacity 300ms ease-in;

	&.show {
		pointer-events: all;
		opacity: 1;
	}
}

.notifications-menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: -30rem;
	width: 30rem;
	height: 100vh;
	min-width: 30rem;
	background-color: var(--color-asemar-white);
	padding-top: .5rem;
	box-shadow: 0 8px 16px 0 rgba(96, 97, 112, 0.16), 0 2px 4px 0 rgba(40, 41, 61, 0.04);
	z-index: 15;
	transition: right 300ms ease-in;

	&.show {
		right: 0;
	}
}

.notifications-menu-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 1rem 1.2rem;
	background-color: var(--color-asemar-white);
	border-top: 1px solid var(--color-asemar-formgray);
}
