<app-header></app-header>

<div id="main-content">

	<!-- Header  -->

	<div class="main-content-header row">
		<div class="col-lg-6 d-flex flex-row justify-content-start">
			<div>
				<div>
					<a [routerLink]="['/auctions']"><span>Subastas</span></a>
					<span class="mx-2">/</span>
					<span *ngIf="auction">{{ auction.title }}</span>
				</div>
				<h1 class="main-content-title"><span *ngIf="auction">{{ auction.title }} - </span>Datos</h1>
			</div>
		</div>
		<div class="col-lg-6 d-flex flex-row justify-content-end">
			<button class="btn-table btn-navy"
				title="Refrescar estado de subasta"
				(click)="getAuction()">
				<i class="fa fa-history"></i>
			</button>
			<div *ngIf="auction" style="font-size:.8rem">
				<div>
					<span class="text-black mr-2">Fecha de creación:</span>
					<span>{{ createdAt }}</span>
				</div>
				<div [ngClass]="auctionStatusColor">
					<i class="fa fa-circle small mr-2"></i>
					<span>{{ auctionStatus }}</span>
				</div>
			</div>
		</div>
	</div>

	<!-- Direct accesses -->

	<div class="tab-box">
		<a [routerLink]="['/auctions', auctionId, 'edit']" class="tab-button">Datos</a>
		<a [routerLink]="['/auctions', auctionId, 'users']" class="tab-button">Usuarios</a>
		<a class="tab-button active">Depósitos pendientes</a>
	</div>

	<!-- DataTable -->

	<div class="container-fluid">
		<div class="block-content">
			<div class="table-responsive">
				<table id="subasta-depositos" class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
					<thead></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Validation modal -->

<ng-template #confirmValidateModal>
	<div class="modal-header">
		<h5 class="modal-title text-black">Validar Depósito</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
			(click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body text-darkgray">
		<p>¿Qué desea hacer con este depósito?</p>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-rounded btn-border-gray" data-dismiss="modal"
			(click)="modalRef.hide()">Cancelar</button>
		<button type="button" class="btn btn-rounded btn-red"
			(click)="validateDeposit(2)">No validar</button>
		<button type="button" class="btn btn-rounded btn-green"
			(click)="validateDeposit(1)">Validar</button>
	</div>
</ng-template>
