<div class="d-flex flex-row justify-content-end px-4">
	<a (click)="close.emit()" class="text-gray fa-2x pointer">
		<span aria-hidden="true">&times;</span>
	</a>
</div>

<div class="bids-sidemenu-header">
	<div class="d-flex flex-row justify-content-start">
		<div class="d-flex flex-row">
			<a class="text-gray mr-2 pointer"
				(click)="close.emit()">
				<i class="bids-sidemenu-icon fa fa-arrow-left"></i>
			</a>
			<h1 class="bids-sidemenu-title text-black">Actividad de la subasta</h1>
		</div>
	</div>
</div>

<div class="bids-sidemenu-auction d-flex flex-row">
	<img *ngIf="images.length == 0" class="auction-no-image mr-4"
		src="/assets/images/image-gray.png">
	<img *ngIf="images.length" class="auction-image mr-4"
		[src]="images[imageIndex]?.path"
		[title]="images[imageIndex]?.name">
	<div class="auction-info">
		<h5 class="text-black mb-1">{{ auction.title }}</h5>
	<div class="d-flex flex-column">
		<div class="d-flex flex-row mb-3">
			<small class="mr-2">{{ lastBidLabel }}:</small>
			<h6 class="text-dark mb-0">{{ auction.max_bid ? auction.max_bid : 0 }} €</h6>
		</div>
		<div class="d-flex flex-row mb-3">
			<small class="mr-2">{{ timeLeftLabel }}:</small>
			<h6 class="text-dark mb-0">{{ time_left ? time_left : '- -' }}</h6>
		</div>
		<div class="d-flex flex-row mb-3">
			<small class="mr-2">Nº de pujas:</small>
			<h6 class="text-dark mb-0">{{ auction.bids }}</h6>
		</div>
	</div>
	</div>
</div>

<div class="notifications-grid-activity d-flex flex-row justify-content-between mb-2">
	<div class="d-flex flew-row">
		<span class="text-uppercase mr-1">Actividad</span>
	</div>
	<a class="text-navy pointer"
		(click)="markAllAsSeen()">
		<i class="fa fa-eraser mr-2"></i>
		<span class="text-underline">Marcar como vistas</span>
	</a>
</div>

<div class="notifications-list">
	<div *ngFor="let bid of auction.notifications"
		class="notifications-list-item d-flex flex-row justify-content-between">
		<div class="d-flex flex-row align-items-center">
			<i class="seen-indicator fa fa-circle mr-2"
				[ngClass]="{ 'active': bid.status == 0 }"></i>
			<i class="circle-pill mr-3" [class]="bidStyles(bid)"></i>
			<a class="d-flex flex-column text-gray pointer">
				<span [ngClass]="{ 'text-black': bid.status == 0 }">{{ bid.title }}</span>
				<span>{{ bid.subtitle }}</span>
			</a>
		</div>
		<div class="d-flex flex-row">
			<span>{{ convertDate(bid.created_at) }} </span>
		</div>
	</div>
</div>

<div class="bids-sidemenu-footer d-flex flex-row">
	<button *ngIf="sideMenu"
		class="btn btn-rounded btn-cyan w-100 mr-4" (click)="close.emit()"
		[routerLink]="['/notifications-center']">Centro de notificaciones</button>


	<button *ngIf="auction.auction_type_id == 1" class="btn btn-rounded btn-border-cyan w-100" (click)="close.emit()"
		[routerLink]="['/auctions', auctionId, 'users']">Ver subasta</button>

	<button *ngIf="auction.auction_type_id == 2" class="btn btn-rounded btn-border-cyan w-100" (click)="close.emit()"
		[routerLink]="['/direct-sellings', auctionId, 'users']">Ver venta directa</button>

	<button *ngIf="auction.auction_type_id == 3" class="btn btn-rounded btn-border-cyan w-100" (click)="close.emit()"
		[routerLink]="['/cesions', auctionId, 'users']">Ver cesión de remate</button>
</div>
