<div class="auth-header d-flex flex-row justify-content-center">
	<a href="/">
		<img src="assets/images/asemar-logo.png" class="auth-header-logo" alt="Asemar">
	</a>
</div>

<div class="auth-main back-backgray">
	<div class="auth_div vivify fadeIn">
		<div class="card">
			<div class="header">
				<p class="lead text-black">Acceso Administración</p>
			</div>

			<div class="body">
				<form [formGroup]="form" class="form-auth-small">

					<div class="form-group c_form_group">
						<label>Email *</label>
						<input type="email" class="form-control"
							formControlName="email"
							placeholder="Introduce tu email">
					</div>

					<div class="form-group c_form_group">
						<label>Contraseña *</label>
						<input type="password" class="form-control"
						formControlName="password"
						placeholder="Introduce tu contraseña">
					</div>

					<button class="btn btn-rounded btn-cyan w-100" (click)="loginUser()">Acceder</button>

					<div class="bottom">
						<span class="helper-text text-cyan">
							<a [routerLink]="['/forgot-password']" href="javascript:void(0)">
								<i class="fa fa-lock mr-2"></i>
								<span>¿Olvidaste la contraseña?</span>
							</a>
						</span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
