<app-header></app-header>

<div id="main-content">
	<div class="container-fluid">

		<!-- Header  -->

		<div class="block-header">
			<div class="row clearfix">
				<div class="col-xl-6 col-md-5 col-sm-12 d-flex flex-row">
					<i class="block-header-icon fa fa-users text-navy mr-2"></i>
					<div>
						<h1>Ventas directas</h1>
						<span>Gestion de ventas directas de Asemar</span>
					</div>
				</div>
				<div class="col-xl-6 col-md-5 col-sm-12">
					<button [routerLink]="['/direct-sellings/create']" class="btn btn-cyan btn-rounded float-right">
						<i class="fa fa-plus mr-2"></i>
						<span>Nueva Venta Directa</span>
					</button>
				</div>
			</div>
		</div>

		<!-- Exports -->

		<div class="block-exports">
			<button (click)="download('xlsx')" class="btn btn-border-navy btn-rounded mr-3" title="Exporta en .xlsx">
				<i class="fa fa-file-excel mr-2"></i>
				<span>XLSX</span>
			</button>
		</div>

		<!-- DataTable -->

		<div class="block-content">
			<div class="table-responsive">
				<table id="ventas-directas" class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
					<thead></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Auction history modal -->

<ng-template #historyModal>
	<app-direct-selling-history [directSellingId]="directSellingId" (close)="modalRef.hide()">
	</app-direct-selling-history>
</ng-template>

<!-- Delete confirmation modal -->

<ng-template #confirmModal>
	<div class="modal-header">
		<h5 class="modal-title text-black">Eliminar Venta Directa</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"
				(click)="modalRef.hide()">
		  <span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body text-darkgray">
		<p>¿Está seguro de querer eliminar permanentemente esta venta directa?</p>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-rounded btn-border-gray" data-dismiss="modal"
			(click)="modalRef.hide()">Cancelar</button>
		<button type="button" class="btn btn-rounded btn-red"
			(click)="deleteDirectSelling()">Eliminar</button>
	</div>
</ng-template>
