
.auth-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--color-asemar-darkgray);
	padding: 1rem;
}

.auth-header-logo {
	width: 10rem;
}

.auth-main .auth_div {
	width: 45vw;
	background-color: transparent;

	& .card {
		background-color: var(--color-asemar-white);
		border-radius: 8px;
		border: 1px solid var(--color-asemar-formgray);

		& .header {
			border-bottom: 1px solid var(--color-asemar-formgray);
		}

		& .body {
			padding: 2.5rem 2.6rem 4.7rem 2.6rem;
		}
	}
}
