
/* Scrollbar */

::-webkit-scrollbar {
	width: .5rem;
	height: .5rem;
	background-color: var(--color-asemar-formgray);
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	background: var(--color-asemar-cyan-80);
	cursor: pointer;
}

/* Loader */

.page-loader-wrapper {
	background-color: var(--color-asemar-darkgray);
}

/* Main areas sizes */

.sidebar {
	width: var(--sidebar-width);
}

#main-content {
	width: calc(100% - var(--sidebar-width));
	padding: 0 60px 68px 30px;
}

@media screen and (max-width: 1200px) {

	#main-content {
		width: 100%;
		padding: 0;
	}
}

/* Navigation Bar */

.navbar {
	background-color: var(--color-asemar-backgray);
}

/* Side Menu */

.sidebar {
	background-color: var(--color-asemar-darkgray);
}

.sidebar-nav {
	padding: 0;
}

.sidebar-scroll {
	height: calc(92vh);
	overflow: scroll;
}

.img-fluid {
	width: 60%;
}

.menu_toggle {
	left: 273px;
	background: var(--color-asemar-cyan);
	box-shadow: none;
}

/* Main Content */

#main-content {

	.main-content-header {
		padding: 0 22px 12px 22px;
	}

	.main-content-title {
		font-size: 25px;
		font-weight: 500;
		color: var(--color-asemar-black);
	}

	.container-fluid {
		background-color: var(--color-asemar-white);
		border-radius: 8px;
		border: 2px solid rgb(204 204 204 / 50%);
		padding-left: 0;
		padding-right: 0;
	}
}

.block-header {
	padding: 15px 22px;
	border-bottom: 1px solid var(--color-asemar-formgray);

	.block-header-icon {
		min-width: 1.2rem;
		line-height: 25px;
	}
}

.block-exports {
	display: flex;
	flex-direction: row;
	padding: 0 22px 0 22px;
}

.block-content {
	padding: 15px 22px 28px 22px;
}

.block-footer {
	padding: 15px 22px 30px 22px;
	border-top: 1px solid var(--color-asemar-formgray);
}

.card {
	border: none;
}

.card .header {
	padding: 13px;
}

/* Modals */

.modal-content {
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(96, 97, 112, 0.16), 0 2px 4px 0 rgba(40, 41, 61, 0.04);
}

.modal-header, .modal-body, .modal-footer {
	padding: 15px 22px;
}

.modal-title {
	font-size: 22px;
}

.modal-dialog .close {
	text-shadow: none;
	color: var(--color-asemar-gray);

	&:hover, &:focus, &:active {
		outline: none;
		box-shadow: none;
	}

	&:hover {
		color: var(--color-asemar-cyan);
	}

	&:active {
		color: var(--color-asemar-darkgray);
	}
}

/* Tables */

.btn-table {
	width: 32px;
	height: 32px;
	margin: 0 16px 0 0;
	padding: 5px;
	background-color: transparent;
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;

	&:hover, &:focus, &:active {
		box-shadow: none!important;
		outline: none!important;
	}
}

/* Links */

a {
	color: var(--color-asemar-cyan);
}

a:hover, a:focus {
	color: var(--color-asemar-darkgray);
	text-decoration: none;
	outline: none;
}

/* Buttons */

.btn:hover, .btn:focus, .btn:active {
	box-shadow: none!important;
	outline: none!important;
}

.btn-submit {
	min-width: 9.6rem;
}

.btn-rounded {
	border-radius: 30rem;
}

/* Forms and form controls */

.form-title {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: var(--color-asemar-black);
}

.form-group label {
	width: 100%;
	color: var(--color-asemar-navy);
	font-size: 13px;
	text-align: left;
}

.form-control {
	position: relative;
	min-height: 2.9rem;
	font-weight: 100;
	background-color: transparent;
	padding: 11px 9px;
	border: 1px solid var(--color-asemar-formgray);
	border-radius: 5px;
}

.form-control:focus {
	border-color: var(--color-asemar-navy-80);
	outline: none;
	box-shadow: none;
}

.form-control::placeholder {
	color: var(--color-asemar-gray);
	font-weight: 100;
}

.form-control[type=file] {
	font-size: .8rem;
	padding: 9px;
}

.form-control.invalid {
	border-color: var(--color-asemar-red);
}

.form-unit {
	padding: .7rem .8rem;
	border: 1px solid var(--color-asemar-formgray);
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	color: var(--color-asemar-darkgray);
}

.form-control-upper-right {
	position: absolute;
	top: 0;
	right: 0;
}

.form-control-upper-right.second {
	top: 20px;
}

.form-checkbox {
	display: flex;

	label {
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 0;
		cursor: pointer;

		&::before {
			display: inline-block;
			content: "";
			width: 1.5rem;
			height: 1.5rem;
			background-color: transparent;
			border: 1px solid var(--color-asemar-formgray);
			border-radius: 3px;
			margin-right: .8rem;
		}
	}

	input[type=checkbox] {
		width: 0;
		visibility: hidden;

		&:checked + label::before {
			border-color: var(--color-asemar-cyan);
			background-color: var(--color-asemar-cyan);
		}

		&:checked + label::after {
			content: "";
			position: absolute;
			top: .3rem;
			left: .5rem;
			width: 7px;
			height: 12px;
			border-bottom: 2.5px solid var(--color-asemar-white);
			border-right: 2.5px solid var(--color-asemar-white);
			transform: rotate(45deg);
		}
	}
}

/* File zone */

.form-file-zone {
	padding: 1rem;
}

.form-file-multiple {
	width: 100%;
	height: 4rem;
	cursor: pointer;
	opacity: 0;
}

.form-file-dropzone {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	color: var(--color-asemar-gray);
	text-align: center;
	background-color: var(--color-asemar-backgray);
	padding: 1rem;
	border: 2px dashed var(--color-asemar-formgray);
	border-radius: 5px;
	pointer-events: none;
}

.preview-image {
	width: 8rem;
	height: 8rem;
	padding: 0.5rem;
	background-color: var(--color-asemar-formgray);
	border-radius: 5px;
	-o-object-fit: contain;
	object-fit: contain;
}

.preview-file {
	width: 4rem;
	height: 4rem;
	padding: 0.5rem;
	border: 2px solid var(--color-asemar-navy-40);
	border-radius: 5px;
	-o-object-fit: contain;
	object-fit: contain;
}

.preview-delete {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -0.6rem;
	right: -0.6rem;
	width: 1.2rem;
	height: 1.1rem;
	font-size: .65rem;
	padding: 0;
	border-radius: 30px;
}

.form-errors {
	color: var(--color-asemar-red);
	font-size: .8rem;
	margin-top: .3rem;
}

/* Visual flags */

.flag-check {
	width: 48px;
	height: 24px;
	background-color: var(--color-asemar-gray);
	border-radius: 12px;
	position: relative;
}

.flag-check::after {
	content: "";
	position: absolute;
	top: 15%;
	left: 20%;
	width: 7px;
	height: 12px;
	border-bottom: 2.5px solid var(--color-asemar-white);
	border-right: 2.5px solid var(--color-asemar-white);
	transform: rotate(45deg);
}

.flag-check::before {
	content: "";
	position: absolute;
	top: calc(50% - 10px);
	left: 2px;
	width: 20px;
	height: 20px;
	background-color: var(--color-asemar-white);
	border-radius: 100%;
	z-index: 2;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}

.flag-check.checked {
	background-color: var(--color-asemar-green);
}

.flag-check.checked::before {
	left: 26px;
}

.flag-check.error {
	background-color: var(--color-asemar-red);
}

/* Tabs */

.tab-box {
	display: flex;
	flex-direction: row;
	margin-left: 22px;

	& .tab-button {
		color: var(--color-asemar-gray);
		padding: 11px 13px 9px 13px;
		border-bottom: 3px solid transparent;
		margin-right: 13px;
		cursor: pointer;
		-webkit-transition: all 200ms ease-in-out;
		-moz-transition: all 200ms ease-in-out;
		-ms-transition: all 200ms ease-in-out;
		-o-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;

		&:hover, &:focus, &:active {
			color: var(--color-asemar-navy);
		}

		&.active {
			color: var(--color-asemar-navy);
			border-bottom-color: var(--color-asemar-cyan);
		}
	}
}

/* Visual decorations */

.pill {
	display: inline-block;
	text-align: center;
	padding: 5px 6.5px 5px 7.5px;
	border-radius: 2px;
}

.circle-pill {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 1.9rem;
	min-width: 1.9rem;
	height: 1.9rem;
	max-height: 1.9rem;
	border-radius: 30rem;
}
